@import "extends";

.background-color-header {
    @extend %bg-header;

}

.logo_espiral {
    @extend %logo;
    &:hover { 
        transform: rotate(360deg);
    }
}


.marca {
    @extend %title-font;
}

.foto_perfil {
    width: 25%;;
    text-align: center;
    border-radius: 40px;
}